# === Unity core ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Crash/bug logs
*.log

# Visual Studio / JetBrains
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.sln*
*.userprefs
*.ide

# OS junk
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml
